<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Book Order</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="aboutus.html">Book System</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="adminpage" >Admin <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'neworder' %}">
            {% csrf_token %}
        </div>
      </nav>
      
   
    </div>
    <center>
        <div>
          <label><b>Search Stock</b></label>
          <select name="ordername">
            {% for i in stock %}
            <option value="{{ i.id }}">{{ i.stockName }}</option>
            {% endfor %}
          </select>
        </div><br>
    </div>
    <div>
      <label><b>Order Type</b></label>
      <select id="ordertype" name="ordertype" onfocusout="myFunction()">
        <option value="Limit">Limit</option>
        <option value="Market">Market</option>
        
      </select>
    </div><br>
    <div>
      
    <label for="Price" id="pricelable"><b>Price</b></label>
  <input type="text" placeholder="price" name="price" required id="price">
  </div>
  <br>
  <div>
  <label for="Quantity"><b>Quantity</b></label>
  <input type="text" placeholder="Quantity" name="orderqty" required>
  </div>
  <br>

</div>   
        <div class="col">
          <button type="submit">Place Order</button>
        </div>
      </div>
  </center>
</form>
      

<table class="table" border="2">
  <thead class="thead-dark">
          <th>Stock Name</th>
          <th>Order Qty</th>
          <th>Order Type</th>
          <th>Executed Qty</th>
          <th>Price</th>
          <th>Order Status</th>
          <th>Order Date</th>
  </thead>
  <tbody>
  {% for i in o%}
  <tr>
      <td scope="row">{{i.stock.stockName }}</td>
      <td scope="row">{{i.order_qty }}</td>
      <td scope="row">{{i.order_type }}</td>
      <td scope="row">{{i.executed_qty }}</td>
      <td scope="row">{{i.price }}</td>
      <td scope="row">{{i.orderstatus }}</td>
      <td scope="row">{{i.orderdate }}</td>
  </tr>
  {% endfor %}
</tbody>
  <br><br>
</table> 
<br><br><br>
    </body>
    <script>
      function myFunction(){
      var t=document.getElementById("ordertype");
      if(t=="Market")
      {
        document.getElementById("pricelabel").style.visibility = "hidden";
        document.getElementById("price").style.visibility = "hidden";
      }
    }
    </script>
  </html>